#### DATA FILES


#### TEST FILES


#### JUPYTER NOTEBOOKS FILES
**/*.ipynb_checkpoints

#### ENVIRONMENT FILES
.my_env/*
env_local.bashrc
env_main*
env_variables.sh


#### CREDENTIALS
credentials.txt
__pycache__

#### Terraform


##### dbt
.user*

##### logs
logs/*

.config
.dotnet
.cache
.ipython
.jupyter
.local
.ssh
.vritualenvs
.vscode
.python_history
.vscode-server
spark/
.bash_logout
.profile
.viminfo
.virtualenvs
.wget-hsts
.python_history
snap/
notebooks/.ipynb_checkpoints/starter-checkpoint.ipynb
.scala_history
orchestration/data/outputs/abarth.csv
orchestration/data/outputs/acura.csv
orchestration/data/outputs/aixam.csv
orchestration/data/outputs/alfa-romeo.csv
orchestration/data/outputs/alpine.csv
orchestration/data/outputs/aston-martin.csv
orchestration/data/outputs/audi.csv
orchestration/data/outputs/austin.csv
orchestration/data/outputs/autobianchi.csv
orchestration/data/outputs/bac.csv
orchestration/data/outputs/bentley.csv
orchestration/data/outputs/bmw.csv
orchestration/data/outputs/brilliance.csv
orchestration/data/outputs/buick.csv
orchestration/data/outputs/cadillac.csv
orchestration/data/outputs/casalini.csv
orchestration/data/outputs/chatenet.csv
orchestration/data/outputs/chevrolet.csv
orchestration/data/outputs/chrysler.csv
orchestration/data/outputs/citroen.csv
orchestration/data/outputs/cupra.csv
orchestration/data/outputs/dacia.csv
orchestration/data/outputs/daewoo.csv
orchestration/data/outputs/daihatsu.csv
orchestration/data/outputs/dfsk.csv
orchestration/data/outputs/dkw.csv
orchestration/data/outputs/dodge.csv
orchestration/data/outputs/ds-automobiles.csv
orchestration/data/outputs/faw.csv
orchestration/data/outputs/ferrari.csv
orchestration/data/outputs/fiat.csv
orchestration/data/outputs/ford.csv
orchestration/data/outputs/gaz.csv
orchestration/data/outputs/gmc.csv
orchestration/data/outputs/grecav.csv
orchestration/data/outputs/holden.csv
orchestration/data/outputs/honda.csv
orchestration/data/outputs/hummer.csv
orchestration/data/outputs/hyundai.csv
orchestration/data/outputs/infiniti.csv
orchestration/data/outputs/inny.csv
orchestration/data/outputs/isuzu.csv
orchestration/data/outputs/iveco.csv
orchestration/data/outputs/jaguar.csv
orchestration/data/outputs/jeep.csv
orchestration/data/outputs/kia.csv
orchestration/data/outputs/lada.csv
orchestration/data/outputs/lamborghini.csv
orchestration/data/outputs/lancia.csv
orchestration/data/outputs/land-rover.csv
orchestration/data/outputs/lexus.csv
orchestration/data/outputs/ligier.csv
orchestration/data/outputs/lincoln.csv
orchestration/data/outputs/lotus.csv
orchestration/data/outputs/lti.csv
orchestration/data/outputs/marka_warszawa.csv
orchestration/data/outputs/maserati.csv
orchestration/data/outputs/maybach.csv
orchestration/data/outputs/mazda.csv
orchestration/data/outputs/mclaren.csv
orchestration/data/outputs/mercedes-benz.csv
orchestration/data/outputs/mercury.csv
orchestration/data/outputs/mg.csv
orchestration/data/outputs/microcar.csv
orchestration/data/outputs/mini.csv
orchestration/data/outputs/mitsubishi.csv
orchestration/data/outputs/nissan.csv
orchestration/data/outputs/nysa.csv
orchestration/data/outputs/offers.csv
orchestration/data/outputs/oldsmobile.csv
orchestration/data/outputs/opel.csv
orchestration/data/outputs/peugeot.csv
orchestration/data/outputs/piaggio.csv
orchestration/data/outputs/plymouth.csv
orchestration/data/outputs/polonez.csv
orchestration/data/outputs/pontiac.csv
orchestration/data/outputs/porsche.csv
orchestration/data/outputs/ram.csv
orchestration/data/outputs/renault.csv
orchestration/data/outputs/rolls-royce.csv
orchestration/data/outputs/rover.csv
orchestration/data/outputs/saab.csv
orchestration/data/outputs/saturn.csv
orchestration/data/outputs/seat.csv
orchestration/data/outputs/shuanghuan.csv
orchestration/data/outputs/skoda.csv
orchestration/data/outputs/smart.csv
orchestration/data/outputs/ssangyong.csv
orchestration/data/outputs/subaru.csv
orchestration/data/outputs/suzuki.csv
orchestration/data/outputs/syrena.csv
orchestration/data/outputs/talbot.csv
orchestration/data/outputs/tarpan.csv
orchestration/data/outputs/tata.csv
orchestration/data/outputs/tavria.csv
orchestration/data/outputs/tesla.csv
orchestration/data/outputs/toyota.csv
orchestration/data/outputs/trabant.csv
orchestration/data/outputs/triumph.csv
orchestration/data/outputs/uaz.csv
orchestration/data/outputs/vanderhall.csv
orchestration/data/outputs/vauxhall.csv
orchestration/data/outputs/volkswagen.csv
orchestration/data/outputs/volvo.csv
orchestration/data/outputs/wartburg.csv
orchestration/data/outputs/wolga.csv
orchestration/data/outputs/zaporozec.csv
orchestration/data/outputs/zuk.csv
orchestration/data/outputs/abarth.csv
orchestration/data/outputs/acura.csv
orchestration/data/outputs/offers.csv
