#### DATA FILES


#### TEST FILES


#### JUPYTER NOTEBOOKS FILES
**/*.ipynb_checkpoints

#### ENVIRONMENT FILES
.my_env/*
env_local.bashrc
env_main*
env_variables.sh


#### CREDENTIALS
credentials.txt
__pycache__

#### Terraform


##### dbt
.user*

##### logs
logs/*

.config
.dotnet
.cache
.ipython
.jupyter
.local
.ssh
.vritualenvs
.vscode
.python_history
.vscode-server
spark/
.bash_logout
.profile
.viminfo
.virtualenvs
.wget-hsts
.python_history
snap/
notebooks/.ipynb_checkpoints/starter-checkpoint.ipynb
.scala_history
orchestration/data/outputs/abarth.csv
orchestration/data/outputs/acura.csv
orchestration/data/outputs/aixam.csv
orchestration/data/outputs/alfa-romeo.csv
orchestration/data/outputs/alpine.csv
orchestration/data/outputs/aston-martin.csv
orchestration/data/outputs/audi.csv
orchestration/data/outputs/austin.csv
orchestration/data/outputs/autobianchi.csv
orchestration/data/outputs/bac.csv
orchestration/data/outputs/bentley.csv
orchestration/data/outputs/bmw.csv
orchestration/data/outputs/brilliance.csv
orchestration/data/outputs/buick.csv
orchestration/data/outputs/cadillac.csv
orchestration/data/outputs/casalini.csv
orchestration/data/outputs/chatenet.csv
orchestration/data/outputs/chevrolet.csv
orchestration/data/outputs/chrysler.csv
orchestration/data/outputs/citroen.csv
orchestration/data/outputs/cupra.csv
orchestration/data/outputs/dacia.csv
orchestration/data/outputs/daewoo.csv
orchestration/data/outputs/daihatsu.csv
orchestration/data/outputs/dfsk.csv
orchestration/data/outputs/dkw.csv
orchestration/data/outputs/dodge.csv
orchestration/data/outputs/ds-automobiles.csv
orchestration/data/outputs/faw.csv
orchestration/data/outputs/ferrari.csv
orchestration/data/outputs/fiat.csv
orchestration/data/outputs/ford.csv
orchestration/data/outputs/gaz.csv
orchestration/data/outputs/gmc.csv
orchestration/data/outputs/grecav.csv
orchestration/data/outputs/holden.csv
orchestration/data/outputs/honda.csv
orchestration/data/outputs/hummer.csv
orchestration/data/outputs/hyundai.csv
orchestration/data/outputs/infiniti.csv
orchestration/data/outputs/inny.csv
orchestration/data/outputs/isuzu.csv
orchestration/data/outputs/iveco.csv
orchestration/data/outputs/jaguar.csv
orchestration/data/outputs/jeep.csv
orchestration/data/outputs/kia.csv
orchestration/data/outputs/lada.csv
orchestration/data/outputs/lamborghini.csv
orchestration/data/outputs/lancia.csv
orchestration/data/outputs/land-rover.csv
orchestration/data/outputs/lexus.csv
orchestration/data/outputs/ligier.csv
orchestration/data/outputs/lincoln.csv
orchestration/data/outputs/lotus.csv
orchestration/data/outputs/lti.csv
orchestration/data/outputs/marka_warszawa.csv
orchestration/data/outputs/maserati.csv
orchestration/data/outputs/maybach.csv
orchestration/data/outputs/mazda.csv
orchestration/data/outputs/mclaren.csv
orchestration/data/outputs/mercedes-benz.csv
orchestration/data/outputs/mercury.csv
orchestration/data/outputs/mg.csv
orchestration/data/outputs/microcar.csv
orchestration/data/outputs/mini.csv
orchestration/data/outputs/mitsubishi.csv
orchestration/data/outputs/nissan.csv
orchestration/data/outputs/nysa.csv
orchestration/data/outputs/offers.csv
orchestration/data/outputs/oldsmobile.csv
orchestration/data/outputs/opel.csv
orchestration/data/outputs/peugeot.csv
orchestration/data/outputs/piaggio.csv
orchestration/data/outputs/plymouth.csv
orchestration/data/outputs/polonez.csv
orchestration/data/outputs/pontiac.csv
orchestration/data/outputs/porsche.csv
orchestration/data/outputs/ram.csv
orchestration/data/outputs/renault.csv
orchestration/data/outputs/rolls-royce.csv
orchestration/data/outputs/rover.csv
orchestration/data/outputs/saab.csv
orchestration/data/outputs/saturn.csv
orchestration/data/outputs/seat.csv
orchestration/data/outputs/shuanghuan.csv
orchestration/data/outputs/skoda.csv
orchestration/data/outputs/smart.csv
orchestration/data/outputs/ssangyong.csv
orchestration/data/outputs/subaru.csv
orchestration/data/outputs/suzuki.csv
orchestration/data/outputs/syrena.csv
orchestration/data/outputs/talbot.csv
orchestration/data/outputs/tarpan.csv
orchestration/data/outputs/tata.csv
orchestration/data/outputs/tavria.csv
orchestration/data/outputs/tesla.csv
orchestration/data/outputs/toyota.csv
orchestration/data/outputs/trabant.csv
orchestration/data/outputs/triumph.csv
orchestration/data/outputs/uaz.csv
orchestration/data/outputs/vanderhall.csv
orchestration/data/outputs/vauxhall.csv
orchestration/data/outputs/volkswagen.csv
orchestration/data/outputs/volvo.csv
orchestration/data/outputs/wartburg.csv
orchestration/data/outputs/wolga.csv
orchestration/data/outputs/zaporozec.csv
orchestration/data/outputs/zuk.csv
orchestration/data/outputs/abarth.csv
orchestration/data/outputs/acura.csv
orchestration/data/outputs/offers.csv
orchestration/data/inputs/abarth.csv
orchestration/data/inputs/acura.csv
orchestration/data/inputs/aixam.csv
orchestration/data/inputs/alfa-romeo.csv
orchestration/data/inputs/alpine.csv
orchestration/data/inputs/aston-martin.csv
orchestration/data/inputs/audi.csv
orchestration/data/inputs/austin.csv
orchestration/data/inputs/autobianchi.csv
orchestration/data/inputs/bac.csv
orchestration/data/inputs/bentley.csv
orchestration/data/inputs/bmw.csv
orchestration/data/inputs/brilliance.csv
orchestration/data/inputs/buick.csv
orchestration/data/inputs/cadillac.csv
orchestration/data/inputs/casalini.csv
orchestration/data/inputs/chatenet.csv
orchestration/data/inputs/chevrolet.csv
orchestration/data/inputs/chrysler.csv
orchestration/data/inputs/citroen.csv
orchestration/data/inputs/cupra.csv
orchestration/data/inputs/dacia.csv
orchestration/data/inputs/daewoo.csv
orchestration/data/inputs/daihatsu.csv
orchestration/data/inputs/dfsk.csv
orchestration/data/inputs/dkw.csv
orchestration/data/inputs/dodge.csv
orchestration/data/inputs/ds-automobiles.csv
orchestration/data/inputs/faw.csv
orchestration/data/inputs/ferrari.csv
orchestration/data/inputs/fiat.csv
orchestration/data/inputs/ford.csv
orchestration/data/inputs/gaz.csv
orchestration/data/inputs/gmc.csv
orchestration/data/inputs/grecav.csv
orchestration/data/inputs/holden.csv
orchestration/data/inputs/honda.csv
orchestration/data/inputs/hummer.csv
orchestration/data/inputs/hyundai.csv
orchestration/data/inputs/infiniti.csv
orchestration/data/inputs/inny.csv
orchestration/data/inputs/isuzu.csv
orchestration/data/inputs/iveco.csv
orchestration/data/inputs/jaguar.csv
orchestration/data/inputs/jeep.csv
orchestration/data/inputs/kia.csv
orchestration/data/inputs/lada.csv
orchestration/data/inputs/lamborghini.csv
orchestration/data/inputs/lancia.csv
orchestration/data/inputs/land-rover.csv
orchestration/data/inputs/lexus.csv
orchestration/data/inputs/ligier.csv
orchestration/data/inputs/lincoln.csv
orchestration/data/inputs/lotus.csv
orchestration/data/inputs/lti.csv
orchestration/data/inputs/marka_warszawa.csv
orchestration/data/inputs/maserati.csv
orchestration/data/inputs/maybach.csv
orchestration/data/inputs/mazda.csv
orchestration/data/inputs/mclaren.csv
orchestration/data/inputs/mercedes-benz.csv
orchestration/data/inputs/mercury.csv
orchestration/data/inputs/mg.csv
orchestration/data/inputs/microcar.csv
orchestration/data/inputs/mini.csv
orchestration/data/inputs/mitsubishi.csv
orchestration/data/inputs/nissan.csv
orchestration/data/inputs/nysa.csv
orchestration/data/inputs/oldsmobile.csv
orchestration/data/inputs/opel.csv
orchestration/data/inputs/peugeot.csv
orchestration/data/inputs/piaggio.csv
orchestration/data/inputs/plymouth.csv
orchestration/data/inputs/polonez.csv
orchestration/data/inputs/pontiac.csv
orchestration/data/inputs/porsche.csv
orchestration/data/inputs/ram.csv
orchestration/data/inputs/renault.csv
orchestration/data/inputs/rolls-royce.csv
orchestration/data/inputs/rover.csv
orchestration/data/inputs/saab.csv
orchestration/data/inputs/saturn.csv
orchestration/data/inputs/seat.csv
orchestration/data/inputs/shuanghuan.csv
orchestration/data/inputs/skoda.csv
orchestration/data/inputs/smart.csv
orchestration/data/inputs/ssangyong.csv
orchestration/data/inputs/subaru.csv
orchestration/data/inputs/suzuki.csv
orchestration/data/inputs/syrena.csv
orchestration/data/inputs/talbot.csv
orchestration/data/inputs/tarpan.csv
orchestration/data/inputs/tata.csv
orchestration/data/inputs/tavria.csv
orchestration/data/inputs/tesla.csv
orchestration/data/inputs/toyota.csv
orchestration/data/inputs/trabant.csv
orchestration/data/inputs/triumph.csv
orchestration/data/inputs/uaz.csv
orchestration/data/inputs/vanderhall.csv
orchestration/data/inputs/vauxhall.csv
orchestration/data/inputs/volkswagen.csv
orchestration/data/inputs/volvo.csv
orchestration/data/inputs/wartburg.csv
orchestration/data/inputs/wolga.csv
orchestration/data/inputs/zaporozec.csv
orchestration/data/inputs/zuk.csv
temp/green_tripdata_2021-01.parquet
temp/green_tripdata_2021-02.parquet
temp/main_flow_gs-deployment.yaml
temp/main_flow-deployment.yaml
temp/orchestrate_gs.py
temp/orchestrate.py
temp/otomoto_training_old.py
temp/preprocessor.b
temp/xgb_copy.model
notebooks/outputs/data/offers_filtered.csv
notebooks/outputs/data/x_scaled_test.csv
notebooks/outputs/data/x_test_selected.csv
notebooks/outputs/data/x_test_transformed.csv
notebooks/outputs/data/y_pred.csv
notebooks/outputs/data/y_test.csv
notebooks/outputs/data/y_transformed_test.csv
notebooks/outputs/reports/ab_explainer.html
notebooks/outputs/reports/et_explainer.html
notebooks/outputs/reports/gb_explainer.html
notebooks/ab_model.joblib
notebooks/et_model.joblib
notebooks/explainer_adaboost.ipynb
notebooks/explainer_extratrees.ipynb
notebooks/explainer_gb.ipynb
notebooks/gb_model.joblib
orchestration/data/training/abarth.csv
orchestration/data/training/acura.csv
orchestration/data/training/aixam.csv
orchestration/data/training/alfa-romeo.csv
orchestration/data/training/alpine.csv
orchestration/data/training/aston-martin.csv
orchestration/data/training/audi.csv
orchestration/data/training/austin.csv
orchestration/data/training/autobianchi.csv
orchestration/data/training/bac.csv
orchestration/data/training/bentley.csv
orchestration/data/training/bmw.csv
orchestration/data/training/brilliance.csv
orchestration/data/training/buick.csv
orchestration/data/training/cadillac.csv
orchestration/data/training/casalini.csv
orchestration/data/training/chatenet.csv
orchestration/data/training/chevrolet.csv
orchestration/data/training/chrysler.csv
orchestration/data/training/citroen.csv
orchestration/data/training/cupra.csv
orchestration/data/training/dacia.csv
orchestration/data/training/daewoo.csv
orchestration/data/training/daihatsu.csv
orchestration/data/training/dfsk.csv
orchestration/data/training/dkw.csv
orchestration/data/training/dodge.csv
orchestration/data/training/ds-automobiles.csv
orchestration/data/training/faw.csv
orchestration/data/training/ferrari.csv
orchestration/data/training/fiat.csv
orchestration/data/training/ford.csv
orchestration/data/training/gaz.csv
orchestration/data/training/gmc.csv
orchestration/data/training/grecav.csv
orchestration/data/training/holden.csv
orchestration/data/training/honda.csv
orchestration/data/training/hummer.csv
orchestration/data/training/hyundai.csv
orchestration/data/training/infiniti.csv
orchestration/data/training/inny.csv
orchestration/data/training/isuzu.csv
orchestration/data/training/iveco.csv
orchestration/data/training/jaguar.csv
orchestration/data/training/jeep.csv
orchestration/data/training/kia.csv
orchestration/data/training/lada.csv
orchestration/data/training/lamborghini.csv
orchestration/data/training/lancia.csv
orchestration/data/training/land-rover.csv
orchestration/data/training/lexus.csv
orchestration/data/training/ligier.csv
orchestration/data/training/lincoln.csv
orchestration/data/training/lotus.csv
orchestration/data/training/lti.csv
orchestration/data/training/marka_warszawa.csv
orchestration/data/training/maserati.csv
orchestration/data/training/maybach.csv
orchestration/data/training/mazda.csv
orchestration/data/training/mclaren.csv
orchestration/data/training/mercedes-benz.csv
orchestration/data/training/mercury.csv
orchestration/data/training/mg.csv
orchestration/data/training/microcar.csv
orchestration/data/training/mini.csv
orchestration/data/training/mitsubishi.csv
orchestration/data/training/nissan.csv
orchestration/data/training/nysa.csv
orchestration/data/training/offers.csv
orchestration/data/training/oldsmobile.csv
orchestration/data/training/opel.csv
orchestration/data/training/peugeot.csv
orchestration/data/training/piaggio.csv
orchestration/data/training/plymouth.csv
orchestration/data/training/polonez.csv
orchestration/data/training/pontiac.csv
orchestration/data/training/porsche.csv
orchestration/data/training/ram.csv
orchestration/data/training/renault.csv
orchestration/data/training/rolls-royce.csv
orchestration/data/training/rover.csv
orchestration/data/training/saab.csv
orchestration/data/training/saturn.csv
orchestration/data/training/seat.csv
orchestration/data/training/shuanghuan.csv
orchestration/data/training/skoda.csv
orchestration/data/training/smart.csv
orchestration/data/training/ssangyong.csv
orchestration/data/training/subaru.csv
orchestration/data/training/suzuki.csv
orchestration/data/training/syrena.csv
orchestration/data/training/talbot.csv
orchestration/data/training/tarpan.csv
orchestration/data/training/tata.csv
orchestration/data/training/tavria.csv
orchestration/data/training/tesla.csv
orchestration/data/training/toyota.csv
orchestration/data/training/trabant.csv
orchestration/data/training/triumph.csv
orchestration/data/training/uaz.csv
orchestration/data/training/vanderhall.csv
orchestration/data/training/vauxhall.csv
orchestration/data/training/volkswagen.csv
orchestration/data/training/volvo.csv
orchestration/data/training/wartburg.csv
orchestration/data/training/wolga.csv
orchestration/data/training/zaporozec.csv
orchestration/data/training/zuk.csv
