[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
mlflow = "*"
scikit-learn = "*"
google-cloud-storage = "*"
prefect-gcp = "*"
lxml = "*"

[dev-packages]
notebook = "*"
pylint = "*"
black = "*"
isort = "*"
seaborn = "*"
ydata-profiling = "*"

[requires]
python_version = "3.8"
